/* Base styles */
.container {
    margin-top: 15vh;
    margin-left: 2vh;
}

.container h3 {
    font-size: 15px;
}

.container p {
    margin-top: 0%;
    margin-right: 10%; /* Adjust margin-right for larger screens */
}

.carousel-image {
    width: 70%;
    height: 30%;
    display: block;
    margin: 5vh 2vh 0;
    margin-top: 5vh;
}

@media screen and (max-width: 1000px) {
    .container {
        margin-top: 15vh; /* Adjust margin-top for smaller screens */
        margin-left: 2vh;
    }

    .carousel-image {
        width: 100%; /* Increase the width for smaller screens */
        height: auto; /* Allow the height to adjust proportionally */
        display: block;
        margin: 5vh auto 0; /* Center the image horizontally */
    }
}

